@{
    ViewBag.Title = "Acme Cursos";
}

<div class="jumbotron">
    <h1>Bem vindo a AcmeCursos!!!</h1>
    <p class="lead">Sistema de Administração de cursos.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inscricões</h2>
        
        <p>
            Clique aqui para realizar uma inscrição.
        </p>
       
        <p><a class="btn btn-default" href="/Inscricao">Ver Inscrições</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>
            Gerencie os cursos.
        </p>
        <p><a class="btn btn-default" href="/Cursos">Ver Cursos</a></p>
    </div>
    <div class="col-md-4">
        <h2>Estudantes</h2>
        <p>
            Gerencie os estudantes.
        </p>
        <p><a class="btn btn-default" href="/Estudante">Ver Estudantes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Professores</h2>
        <p>
            Gerencie os professores.
        </p>
        <p><a class="btn btn-default" href="/Professor">Ver Professores</a></p>
    </div>
</div>
    